#addCourseForm{
    max-width: 40%;
    position: inherit;
    left: 33%;

}
#addCourseModal{
    position: absolute;
    max-width: 45%;
    width: 60%;
    left: 25%;
    clear: both;
    display: inline-block;
}
#addCourse{
    position: absolute;
    max-width: 30%;
    left: 66%;
}
#AddCoursetitle{
    position: relative;
    left: 1%;
}
#submitAddCourseBut{
    position: inherit;
    clear: both;
    top: 26%;
    right: 80%;
}
#closeAddCourseBut{
    position: inherit;
    clear: both;
    top: 26%;
    left: 98%;
}
#CoursesNextPage{
    position: absolute;
    max-width: 30%;
    left: 55%;
}

#CoursesPrevPage{
    position: absolute;
    max-width: 30%;
    left: 44%;
}
