  /* .Login {
    line-height: 25px;
    height: 25px;
    text-align: center;
  }
  


  .Login form {
    line-height: 25px;
    height: 25px;
    text-align: center;
  } */

  .Login{
    position: absolute;
    clear: both;
    display: inline-block;
    left:31%;
    top:12%;
    clear: both;
    display: inline-block;
    padding-right: 30%;

  }

  #login_bot{
    position: relative;
    clear: both;
  }
