


#getCoursesManagment{
  position: absolute;
  left: 66%;
  max-width: 100%;

}
#adminPanel{
  position: absolute;
}
#usercoursestables{
  min-width: 100%;
}
#coursesManagmentModal{
  min-width: 100%;
  
}

.react-responsive-modal-modal {
  width: 1200px;
  height: 700px;
}
#addUserAsStudent{
  position: absolute;
  left: 60%;
  top: 96%;

}
#addUserAsStaff{
  position: absolute;
  left: 10%;
  top: 96%;
}
#submitAddCourse{
  position: fixed;
  max-width: 100%;
  bottom: 74%;  
}