@media all and (min-width: 480px) {
      form {
        clear: both;
        display: inline-block;
        overflow: hidden;
        padding-right: 30%;
        position: absolute;
        max-width: 60%;

      }
      .list-group {
        position: relative;
        left: 80%;
        width:50%;
        bottom: auto;
        max-width: 60%;
      }
     #addUser {
      left: 80%;
      position: absolute;
      max-width: 60%;
    }
    #AdminUserRoles{
      position: relative;
      clear: both;
      top: 97%;
    }
    }
  