@media all and (min-width: 480px) {
      form {
        clear: both;
        display: inline-block;
        overflow: hidden;
        padding-right: 30%;
        position: absolute;

      }
      .list-group {
        position: relative;
        left: 80%;
        width:50%;
        bottom: auto;
      }

    }
  