#addUserForm{
    max-width: 55%;
    position: inherit;
    left: 42%;

}
#addUserModal{
    position: absolute;
    max-width: 60%;
    width: 50%;
    left: 25%;
    clear: both;
    display: inline-block;
}
#deleteUserBut{
    position: absolute;
    max-width: 30%;
    padding-right: 1%;
}
#addUser{
    position: absolute;
    max-width: 30%;
    left: 67%;
    bottom: 72%;
}
#submitNewUser{
    position: absolute;
    max-width: 30%;
    left: 1%;
}
/* 
.Modal {
    height: 100%;
    width: 100%;
  
    background-color: #ffffff;
    overflow: auto;
  }
  
  .Overlay {
    position: fixed;
  
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  @media (min-width: 768px) and (max-width: 1279px) {
    .Modal {
      width: 80%;
      height: 80%;
    }
  }
  
  @media (min-width: 1280px) {
    .Modal {
      height: auto;
      width: auto;
  
      max-width: 1000px;
      max-height: 80%;
    }
  } */