#addUserForm{
    max-width: 60%;
    position: inherit;
    left: 17%; 
    padding-left: 2%;
}
#addUserModal{
    position: inherit;
    max-width: 80%;
    width: 40%;
    left: 25%;
    clear: both;
    display: inline-block;

}

#deleteUserBut{
    position: absolute;
    max-width: 30%;
}
#addUser{
    position: absolute;
    max-width: 30%;
    right: 27%;
}
#submitNewUser{
    position: inherit;
    max-width: 80%;
    right: 34%;
}
#closeSubmitNewUser{
    position: inherit;
    max-width: 80%;
    left: 90%;
}
#registerUserText{
    position: relative;
    left: 1%;
}
#UsersNextPage{
    position: absolute;
    right: 34%;
}
#UsersPrevPage{
    position: absolute;
    right: 52%;
}
/* 
.Modal {
    height: 100%;
    width: 100%;
  
    background-color: #ffffff;
    overflow: auto;
  }
  
  .Overlay {
    position: fixed;
  
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  @media (min-width: 768px) and (max-width: 1279px) {
    .Modal {
      width: 80%;
      height: 80%;
    }
  }
  
  @media (min-width: 1280px) {
    .Modal {
      height: auto;
      width: auto;
  
      max-width: 1000px;
      max-height: 80%;
    }
  } */