#session-div {
  position:absolute;
  top:0;
  left:0;
  padding: 5px;
}
.App{
  max-width: 60%;
}
#HelloUser{
  font-family: 'Titillium Web', sans-serif;
  font-style: oblique 15deg;
  font-weight: 900;
}